.interna_sobre {
	background: url("../img/topo-sobre.jpg") no-repeat center;
	background-size: cover;
}

.missao_sobre {
	padding-top: 60px;
}

.missao_sobre p {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px;
	text-align: justify;
}

.missao_sobre ul li {
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 25px;
}

.foto-sobre {
	padding-top: 20px;
}

.qualidade_lista {
	margin-bottom: 60px;
}

